.fixedTopWrapper {
  background-color: var(--darkGrey);
  width: 100%;
  height: var(--fixedTopSpace);
  position: fixed;
  animation: slideDown 1s ease-in forwards;
  z-index: 10;
  transition: height 0.7s ease-in-out;
  overflow: hidden;
}

.fullHeight {
  height: 100vh;
}

@keyframes slideDown {
  0% {
    top: -50vh;
  }
  100% {
    top: 0vh;
  }
}

.fixedTopContent {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  font-size: 4rem;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fixedTopContent > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}

.fixedTopContent > ul > li {
  border-bottom: 2px solid var(--teal);
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.fixedTopCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  height: 0;
  padding: 0;
}

.fixedTopCopyShow {
  animation: textShow 0.7s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes textShow {
  0% {
    height: 0px;
    padding: 0;
    opacity: 0;
  }

  50% {
    height: 120px;
    padding: 0.2em 0;
    opacity: 0;
  }

  100% {
    height: 120px;
    padding: 0.2em 0;
    opacity: 1;
  }
}

.fixedTopCopy > * {
  padding: 5px 0;
}

.fixedTopCopy > h2 {
  font-size: 2rem;
}

.fixedTopCopy > p {
  font-size: 1.5rem;
}
