.fixedTopWrapper {
  background-color: #191b1f;
  width: 100%;
  height: 150px;
  position: fixed;
}

.fixedTopCopy {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 5rem;
}

.fixedTopCopy > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.fixedTopCopy > ul > li {
  border-bottom: 2px solid var(--teal);
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
