.fixedTopWrapper {
  background-color: var(--darkGrey);
  width: 100%;
  height: 150px;
  position: fixed;
  animation: slideDown 1s ease-in forwards;
}

@keyframes slideDown {
  0% {
    top: -50vh;
  }
  100% {
    top: 0vh;
  }
}

.fixedTopCopy {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 5rem;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fixedTopCopy > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.fixedTopCopy > ul > li {
  border-bottom: 2px solid var(--teal);
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
