.fixedArrowWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  z-index: 20;
}

.fixedArrowContent {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: arrowFadeIn 0.7s ease-in forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes arrowFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrowButton {
  --dim: 90px;
  background-color: var(--teal);
  color: var(--darkGrey);
  width: var(--dim);
  height: var(--dim);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.arrowButton > .material-symbols-outlined {
  font-size: 3rem;
  position: absolute;
  animation: arrowMove 2s ease-in-out infinite;
}

@keyframes arrowMove {
  0% {
    top: 20px;
  }

  50% {
    top: 30px;
  }

  100% {
    top: 20px;
  }
}
