* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  --teal: rgb(0, 255, 195);
  --darkTeal: rgb(16, 193, 152);
  --grey: #282c34;
  --darkGrey: #191b1f;
  --fixedTopSpace: 110px;
  background-color: var(--grey);
}

html {
  scroll-behavior: smooth;
}
