* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  background-color: #282c34;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  --teal: rgb(0, 255, 195);
  --darkGrey: #191b1f;
  --fixedTopSpace: 110px;
}

html {
  scroll-behavior: smooth;
}
